<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>login</h1>
<hr>
<form action="/loginProc" method="post" nanme="loginForm">
    <input type="text" id="username" name="username" placeholder="id">
    <input type="password" id="password" name="password" placeholder="password">
    <input type="submit" value="login">
</form>
</body>
</html>